﻿body{
	/*<-Основные настройки ->*/
	font-family: "BRUSH SCRIPT MT";
}

p {
	text-indent: 20px; /* Отступ первой строки в пикселах */
}

.mainMenu {
	/*<-Позиционирование->*/
	position: absolute;
	left: 84px;
	top: 232px;
	z-index: 5;
	/*<-Текст->*/
	font-family: 'Calibri';
	color: white;
	font-weight: 300;
	letter-spacing: 0.08em;
	font-size: 13px;
	line-height: 18pt;
}



.divPage {
	/*<-Основные настройки ->*/
	border: 0px solid black;
}

.headback {
	/*<-Позиционирование->*/
	position: absolute;
	left: 63px; 
	top: 67px;
	z-index: 1;
}

.head {
	/*<-Позиционирование->*/
	position: absolute;
	left: 60px;
	top: 61px;
	z-index: 2;
}

.headSmart {
	/*<-Позиционирование->*/
	position: absolute;
	left: 111px; 
	top: 71px;
	z-index: 3;
}

.headText {
	/*<-Позиционирование->*/
	position: absolute;
	left: 111px; 
	top: 98px;
	z-index: 5;
	/*<-Текст->*/
	font-family: 'Calibri';
	color: white;
	font-weight: 100;
	font-size: 8pt ;
	letter-spacing: 0.1em;

}

.headITStyle {
	/*<-Позиционирование->*/
	position: absolute;
	left: 78px;
	top: 67px;
	z-index: 4;
}

.mainMenuPhone {
	/*<-Позиционирование->*/
	position: absolute;
	left: 61px;
	top: 212px;
	z-index: 1;
}

.mainFooterMenu {
	/*<-Позиционирование->*/
	position: absolute;
	left: 58px;
	top: 138px;
	z-index: 0;
}

.mainPhonePhoto {
	/*<-Позиционирование->*/
	position: absolute;
	left: 323px;
	top: 86px;
	z-index: 0;
}

.News {
	/*<-Позиционирование->*/
	position: absolute;
	left: 360px;
	top: 350px;
	z-index: 2;
	/*<-Текст->*/
	font-family: 'Calibri';
	color: white;
	font-weight: 600;
	letter-spacing: 0.22em;
	font-size: 16px;
}


.NewsNext {
	/*<-Позиционирование->*/
	position: absolute;
	left: 693px;
	top: 349px;
	z-index: 10;
	/*<-Текст->*/
	font-family: 'Calibri';
	color: black;
	font-weight: 600;
	letter-spacing: 0.13em;
	font-size: 11px;
}


.footerNews {
	/*<-Позиционирование->*/
	position: absolute;
	left: 103px;
	top: 445px;
}

.footerNewsMainText {
	/*<-Позиционирование->*/
	position: absolute;
	left: 141px;
	top: 428px;
	z-index: 4;
	/*<-Текст->*/
	font-family: 'Calibri';
	color: white;
	font-weight: 400;
	letter-spacing: 0.15em;
	font-size: 12px;
	line-height: 9pt;

}

.footerNewsText {
	/*<-Позиционирование->*/
	position: absolute;
	left: 107px;
	top: 529px;
	z-index: 4;
	font-family: 'Calibri';
	color: black;
	font-weight: 600;
	letter-spacing: 0.13em;
	font-size: 11px;
}

.footerTextNext {
	/*<-Текст->*/
	line-height: 22pt; 
	text-indent: 12px; /* Отступ первой строки в пикселах */
}



.backPhone
{	
	position: absolute;
	opacity: 0.1;
}



form {
	z-index: 10;
	background-color: #F0F0F0;
	text-align: center;
	padding-top: 4px;
	width: 470px;
	border: 2px solid grey;
	border-radius: 6px;
}

input {
	width: 180px;
	height: 30px;
	color: #404040 ;
}


  table
{
	margin: 20px;
	display: inline-block;
	float: left;
	color: #606060;
	text-align: center;
	border: 1px solid grey;
	border-radius: 6px; 
	border-spacing: 0;
	background-color: #F0F0F0;

	
}

td
{
	border: 1px solid grey;
	max-width: 200px;
	overflow: hidden;

}

td:first-child {
	color: #D54343;
}

tr:nth-child(-n+3){
	color: blue;
	font-weight: 800;
}


table img {
	height: 200px;
	width: 200px;
}


article {
	position: absolute;
	left: 417px;
	top: 205px;
	z-index: 100;
	font-size: 25px;
	color: white;
	font-weight: 800;
}

#maintable {
	color: blue;
	text-align:center;
	opacity: 1;
	cursor: hand;
	background-color: rgba(235,235,235,0.9);
	display: inline-block;
	border: 1px solid blue;
	width: 390px;
	height: 400px;
	position: absolute;
	overflow-y: auto;
	left: 327px;
	top: 235px;
	z-index: 100;
	transition: 0.2s ease-in;
}

#maintable:hover {
	opacity: 1;
}

#maintable img {
	padding: 30px;
	border: 1px solid grey;
}

#namephone {
	font-weight: 800;
	font-style: italic;
	color: red;
	font-size: 40px;
}
#pricephone{
font-weight: 600;
}



.alert {
border: 12px solid blue;
width: 20px;
height: 400px;
position: absolute;
}

#context {
	cursor: pointer;
	padding: 10px;
	background-color: white;
	left: 727px;
	color: blue;
	top: 235px;
	width: 370px;
	font-size: 30px;
	position: absolute;
	opacity: 0;
	border: 1px solid blue;
	text-align: center;
	z-index: 101;
}

#about{
	height: 40px;
	height: 40px;
	font-weight: 800;
	border-radius: 30%;

}

#clsabout{
	font-weight: 800;
	border-radius: 20%
}