#choose-file{
    position: absolute;
    z-index: 101;
    top: 400px;
    left: 65px;
    background-color: white;
    border-radius: 3px;
    border: 5px solid blue;
    box-shadow: 0 0 5px 5px blue;
    width: 220px;
    height: 170px;
    text-align: center;
    padding: 10px;
    /*animation: move 2s linear;*/
}

input {
    padding: 5px;
    margin-top:10px;
}

/*@keyframes move {*/
    /*from {*/
        /*top: -400px;*/
    /*}*/
    /*to {*/
        /*top: 380px;*/
    /*}*/
/*}*/