body {
    margin: 0;
}
#name {
    font-family: matura mt script capitals;
    text-align: center;
    min-height: 200px;


     background: url('../img/header-main-phone.jpg');
}

#parent-text {
    font-size: 60px;
    height: auto;
    color: white;
    padding-top: 40px;

}

#child-text {
    font-size: 30px;
    color: khaki;
    padding-left: 200px;
}

.carousel-hider {

    width: 750px;
    overflow: hidden;
    float: left;

}

.carousel-list {

    list-style: none;
    width: 10000px;
    padding: 0;
    margin: 0;

}

.carousel-element {
    color: white;
    font-family: matura mt script capitals;
    float: left;
    border: 3px solid gainsboro;
    padding-top: 5px;
}

.carousel-element img {

    width: 244px;
    height: 250px;
}

#carousel{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    /*border-image: url(../img/header-main-phone.jpg);*/
    border-color: blue;
    border-image-repeat: stretch;
    border-style: solid;
    border-width:  8px;
    border-image-repeat: repeat;
    border-radius: 10px;
}

#phone-block {
    text-align: center;
    background-color: rgba(0,0,0, 0.6);
}

.carousel-arrow-left {
    float: left;
    border: 3px solid grey;
    background-color: lightgrey;
    width: 35px;
    height: 30px;
    padding-top: 5px;
    font-size: 20px;
    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 240px;
    margin-top:200px;
    font-weight: bold;

}

.carousel-arrow-right {
    float: right;
    border: 3px solid grey;
    background-color: lightgrey;
    width: 35px;
    height: 30px;
    padding-top: 5px;
    font-size: 20px;
    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 240px;
    margin-top: 200px;
    font-weight: bold;
}

#about{
    font-family: matura mt script capitals;
    text-align: center;
    background: url('../img/header-main-phone.jpg');
    height: 70px;
}

#company{
    cursor: pointer;
    background-color: lightgrey;
    display: inline-block;
    margin-top: 20px;
    border: 4px solid gray;
    width: 120px;
    margin-right: 20px;
    border-radius: 10px;
}

#my {
    cursor: pointer;
    background-color: lightgrey;
    width: 100px;
    border: 4px solid gray;
    display: inline-block;
    margin-top: 20px;
    border-radius: 10px;
}

#info {
    padding-top: 2px;
    border: 5px solid gray;
    text-align: center;
}

#mask {
    width: 244px;
    height: 250px;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
}

.parent {
    position: relative;
}


#pricephone {
    font-family: Calibri;
    padding-bottom: 8px;
}

.aboutbutton{
    font-family: matura mt script capitals;
    font-weight: 800;
    background-color: whitesmoke;
    padding-top: 2px;
    cursor: pointer;
    color: black;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 4px solid gray;
    width: 120px;
    border-radius: 10px;
}

#aboutinfo {
    font-size: 30px;
    font-family: matura mt script capitals;
    opacity: 1;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 100;
    text-align: center;
    width: 500px;
    height: 350px;
    top: 100px;
    left: 400px;
    border: 10px solid grey;
    border-radius: 10px;
    padding-top: 20px;

}

#back-phone {
    display: none;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    height: 111%;
    background-color: black;
    opacity: 0.5;
}

#exitbut {
    background-color: red;
    color: white;
    width: 22px;
    height: 20px;
    display: none;
    position: absolute;
    z-index: 101;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 50%;
    padding-top: 2px;
    text-align: center;
    top: 115px;
    left: 880px;
}