#submit-form-on-template {
    position: absolute;
    left: 365px;
    top: 330px;
    width: 250px;

    box-shadow: 10px 10px 20px rgba(0,0,200,0.5);;
    border: 5px solid rgba(50,0,255,0.5);
    background: lightgrey;

    text-align: center;

    border-radius: 3%;

    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;
}

input {
    font-size: 18px;
    width: 200px;
    height: 35px;
    margin: 10px;
}

#attentions {
    color: red;
    font-size: 15px;
}

#email-error {
    opacity: 0;
    z-index: 10;
    position: absolute;
    top: 393px;
    left: 445px;
}

#login-error {
    opacity: 0;
    z-index: 10;
    position: absolute;
    top: 448px;
    left: 443px;
}

#pass-error {
    opacity: 0;
    z-index: 10;
    position: absolute;
    top: 503px;
    left: 449px;
}

#conf-pass-error {
    opacity: 0;
    z-index: 10;
    position: absolute;
    top: 556px;
    left: 425px;
}

#dones {
    color: green;
    font-size: 15px;
}

#email-done {
    opacity: 0;
    z-index: 10;
    position: absolute;
    top: 393px;
    left: 475px;
}

#login-done {
    opacity: 0;
    z-index: 10;
    position: absolute;
    top: 448px;
    left: 475px;
}

#pass-done {
    opacity: 0;
    z-index: 10;
    position: absolute;
    top: 503px;
    left: 475px;
}

#conf-pass-done {
    opacity: 0;
    z-index: 10;
    position: absolute;
    top: 556px;
    left: 475px;
}

article {
    z-index: 10;
    font-size: 35px;
    position: absolute;
    left: 395px;
    top: 290px;
    color: wheat;
}

#incorrect {
    display: block;
    position: absolute;
    border: 1px solid blue;
    width: 450px;
    height: 200px;

    left: 270px;
    top: 260px;
    z-index: 12;
}

#incorrect {
    display: none;
    z-index: 13;
    background: white;
    opacity: 1;
}

#text {
    text-align: center;
    font-family: "Kristen ITC";
    vertical-align: middle;
    font-size: 30px;
    float: left;
    width: 440px;
    margin-top: 80px;
}

#exit {
    float: right;
}

#exitbut {
    display: none;
    position: absolute;
    top: 266px;
    left: 690px;
    z-index: 20;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

#wind{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 11;
    opacity: 0.5;
}