﻿.mainMenu {
    /*<-Позиционирование->*/
    position: absolute;
    left: 84px;
    top: 232px;
    z-index: 5;
    /*<-Текст->*/
    font-family: 'Calibri';
    color: white;
    font-weight: 300;
    letter-spacing: 0.08em;
    font-size: 13px;
    line-height: 18pt;
}

.headback {
    /*<-Позиционирование->*/
    position: absolute;
    left: 63px;
    top: 67px;
    z-index: 1;
}

.head {
    /*<-Позиционирование->*/
    position: absolute;
    left: 60px;
    top: 61px;
    z-index: 2;
}

.headSmart {
    /*<-Позиционирование->*/
    position: absolute;
    left: 111px;
    top: 71px;
    z-index: 3;
}

.headText {
    /*<-Позиционирование->*/
    position: absolute;
    left: 111px;
    top: 98px;
    z-index: 5;
    /*<-Текст->*/
    font-family: 'Calibri';
    color: white;
    font-weight: 100;
    font-size: 8pt;
    letter-spacing: 0.1em;

}

.headITStyle {
    /*<-Позиционирование->*/
    position: absolute;
    left: 78px;
    top: 67px;
    z-index: 4;
}

.mainMenuPhone {
    /*<-Позиционирование->*/
    position: absolute;
    left: 61px;
    top: 212px;
    z-index: 1;
}

.mainFooterMenu {
    /*<-Позиционирование->*/
    position: absolute;
    left: 58px;
    top: 138px;
    z-index: 0;
}

.mainPhonePhoto {
    /*<-Позиционирование->*/
    position: absolute;
    left: 323px;
    top: 86px;
    z-index: -1;
}

.News {
    /*<-Позиционирование->*/
    position: absolute;
    left: 360px;
    top: 350px;
    z-index: 2;
    /*<-Текст->*/
    font-family: 'Calibri';
    color: white;
    font-weight: 600;
    letter-spacing: 0.22em;
    font-size: 16px;
}

.footerNews {
    /*<-Позиционирование->*/
    position: absolute;
    left: 103px;
    top: 445px;
}

.footerNewsMainText {
    /*<-Позиционирование->*/
    position: absolute;
    left: 141px;
    top: 428px;
    z-index: 4;
    /*<-Текст->*/
    font-family: 'Calibri';
    color: white;
    font-weight: 400;
    letter-spacing: 0.15em;
    font-size: 12px;
    line-height: 9pt;

}

.footerNewsText {
    /*<-Позиционирование->*/
    position: absolute;
    left: 107px;
    top: 529px;
    z-index: 4;
    font-family: 'Calibri';
    color: black;
    font-weight: 600;
    letter-spacing: 0.13em;
    font-size: 11px;
}

.footerTextNext {
    /*<-Текст->*/
    line-height: 22pt;
    text-indent: 12px; /* Отступ первой строки в пикселах */
}


#checkblock {
    position: absolute;
    left: 65px;
    top: 227px;
    padding: 15px;
    box-shadow: 10px 10px 20px rgba(0,0,200,0.5);;
    border: 5px solid rgba(50,0,255,0.5);
    background: lightgrey;

    text-align: left;
    border-radius: 3%;
    z-index: 10;
}


.check {
    width: 15px;
    height: 15px;
}

