#phone-add-block{
    padding-right: 30px;
    text-align: right;
    display: inline-block ;
    position: absolute;
    left: 600px;
    top: 150px;
    width: 350px;
    height: 300px;
    border: 5px solid gray;
}
input[type=text] {
    background-color: whitesmoke;
    margin: 5px;
 }

#add-phone {
    width: 270px;

}

#sinfo {
    position: absolute;
    z-index: 100;
    border: 2px solid gray;
    color: red;
    background-color: white;
    top: 0;
    left: 0;
}