#cat-choise {
    display: inline-block;
    width: 80px;
    margin: 0 10px;
}

#category-block {
    display: inline-block;
    width: 600px;
    height: 100px;
}

#cat-block {
    display: inline-block;
}

.categoryes-block {
    text-align: center;
    display: inline-block;
    position: absolute;
    border: 5px solid gray;
    width: 70%;
    height: 473px;
    left: 300px;
    top: 90px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 40px;

}

.categoryes-block img {
    width: 250px;
    height: 246px;
}