#info{
    width: 96%;
    position: absolute;
    display: block;
    text-align: center;
    top: 89%;
    border: 5px solid  gray;
    padding: 2px;
}

#about {
    padding: 0 2px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s ease-out;
    border: 2px solid gray;

}

#about:hover{
    border-radius: 5px;
    border: 2px solid cornflowerblue;
    background-color: cadetblue;
}

