body {
    margin: 0;
    color: black;
    padding: 20px;
}

.navigation {
    font-size: 20px;
    display: inline-block;
    position: absolute;
    left: 20px;
    border: 5px solid gray;
    padding: 8px;
    text-align: center;
    height: 79.5%;
    width: 230px;
    overflow-y: scroll;
    overflow-x: auto;

}

input[type=submit] {
    width: 150px;
    text-align: center;
    transition: 0.3s ease-out;
    cursor: pointer;
    border: 2px solid gray;
    padding: 6px 0;
    margin:  0;
}

.nav-block:hover {
    border-radius: 5px;
    border: 2px solid cornflowerblue;
    background-color: cadetblue;
}

#text {
    padding-top: 3px;
    font-size: 14px;
}

button {
    width: 150px;
    text-align: center;
    transition: 0.3s ease-out;
    cursor: pointer;
    border: 2px solid gray;
    padding: 6px 0;
    margin:  0;
}

