body {
    text-align: center;
}

#input {
    border: 5px solid gray;
    display: inline-block;
    padding: 20px;
    margin-top: 200px;
    left: 32%;
    padding-bottom: 0px;
}

#login {
    display: inline-block;
    text-align: right;
    border: 1px solid gray;
    padding: 10px 3px 0 3px;
    margin-bottom:  0;
}

input[type = submit]{
    width: 150px;
    text-align: center;
    transition: 0.3s ease-out;
    cursor: pointer;
    border: 2px solid gray;
    padding: 6px 0;
    margin:  0;
}

input[type = submit]:hover {
    border-radius: 5px;
    border: 2px solid cornflowerblue;
    background-color: cadetblue;
}

#err {
    position: absolute;
    display: inline-block;
    top: 190px;
    left: 40%;
}
