#page-del-block {
    text-align: center;
    display: inline-block;
    border: 6px solid gray;
    left: 700px;
    top: 250px;
    position: absolute;
}

#page-add-block {
    text-align: center;
    display: inline-block;
    position: absolute;
    border: 5px solid gray;
    margin-top: 150px;
    left: 600px;

    padding: 10px 40px;
}