body{
    overflow: hidden;
}

.phones-block {
    text-align: center;
    display: inline-block;
    position: absolute;
    border: 5px solid gray;
    width: 70%;
    height: 82%;
    left: 300px;
    top: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 40px;

}

#phone-del-block {
    text-align: center;
    display: inline-block;
    position: absolute;
    border: 5px solid gray;
    margin-top: 200px;
    left: 600px;

    padding: 0 40px;
}

#phone-change-block {
    text-align: center;
    display: inline-block;
    position: absolute;
    border: 5px solid gray;
    margin-top: 70px;
    left: 300px;

    padding: 10px 40px;
}

#phone-inchange-block {
    width: 300px;
    text-align: right;

}



#com-del-block {
    text-align: center;
    display: inline-block;
    position: absolute;
    border: 5px solid gray;
    margin-top: 200px;
    left: 600px;

    padding: 10px 40px;
}

.phone {
    cursor: pointer;
    padding: 10px 2px;
    text-shadow: -1px -1px #FFF,
    -2px -2px #FFF,
    -1px 1px #FFF,
    -2px 2px #FFF,
    1px 1px #FFF,
    2px 2px #FFF,
    1px -1px #FFF,
    2px -2px #FFF,
    -3px -3px 2px #BBB,
    -3px 3px 2px #BBB,
    3px 3px 2px #BBB,
    3px -3px 2px #BBB;
    color: steelblue;
    transition: all 1s;
    float: left;
    overflow-y: scroll;
    overflow-x: auto;
    display: inline-block;
    border: 2px groove #e3e3e3;
    margin: 20px;
    width: 265px;
    height: 300px;
}
.phone:hover {
    color: black;


}

.phones-block img {
    width: 250px;
    height: 246px;
}

#comment-info {
    border: 1px solid gray;
}

#aboutinfo {
    overflow-y: scroll;
    overflow-x: auto;
    box-shadow: 10px 10px 20px  5px grey;
    font-size: 30px;
    font-family: matura mt script capitals;
    opacity: 1;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 103;
    text-align: center;
    width: 500px;
    height: 415px;
    top: 100px;
    left: 400px;
    border: 10px solid darkslategray;
    padding-top: 20px;

}

#back-phone {
    overflow: hidden;
    display: none;
    position: absolute;
    z-index: 103;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

#exitbut {
    background-color: red;
    color: white;
    width: 22px;
    height: 20px;
    display: none;
    position: absolute;
    z-index: 103;
    border: 2px solid grey;
    padding-top: 2px;
    cursor: pointer;
    text-align: center;
    top: 115px;
    left: 880px;
}

.date {
    padding: 10px 2px;
    text-shadow: -1px -1px #FFF,
    -2px -2px #FFF,
    -1px 1px #FFF,
    -2px 2px #FFF,
    1px 1px #FFF,
    2px 2px #FFF,
    1px -1px #FFF,
    2px -2px #FFF,
    -3px -3px 2px #BBB,
    -3px 3px 2px #BBB,
    3px 3px 2px #BBB,
    3px -3px 2px #BBB;
    color: steelblue;
    width: 400px;
    transition: all 1s;
    display: inline-block;
    border: 2px groove #e3e3e3;
}
.date:hover {
    color: black;


}

article{
    padding: 10px 2px;
    text-shadow: -1px -1px #FFF,
    -2px -2px #FFF,
    -1px 1px #FFF,
    -2px 2px #FFF,
    1px 1px #FFF,
    2px 2px #FFF,
    1px -1px #FFF,
    2px -2px #FFF,
    -3px -3px 2px #BBB,
    -3px 3px 2px #BBB,
    3px 3px 2px #BBB,
    3px -3px 2px #BBB;
    color: red;
    transition: all 1s;
    display: inline-block;
}