body {
    text-align: center;
}

#registation {
    border: 5px solid gray;
    display: inline-block;
    padding: 20px;
    margin-top: 200px;
    left: 32%;
}

#input {
    display: inline-block;
    text-align: right;
    border: 1px solid gray;
    padding: 2px;
    margin-bottom:  5px;
}

input[type = submit]{
    width: 150px;
    text-align: center;
    transition: 0.3s ease-out;
    cursor: pointer;
    border: 2px solid gray;
    padding: 6px 0;
    margin:  0;
}

input[type = submit]:hover {
    border-radius: 5px;
    border: 2px solid cornflowerblue;
    background-color: cadetblue;
}