.user {
    display: inline-block;
    width:278px;
    float: left;
    margin: 15px;
    text-align: left;
    border: 2px solid gray;
}
.user-info {
    display: inline-block;
    text-align: left;
}

#users-block {
    padding: 0 40px ;
}


.user-info {
    display: inline-block;
    border: 2px solid grey;
    margin: 5px 10px;
    padding: 2px;
    color: steelblue;
}

#nuser {
    text-align: center;
    padding: 8px 0 0 0;
}