﻿.mainMenu {
    /*<-Позиционирование->*/
    position: absolute;
    left: 84px;
    top: 232px;
    z-index: 5;
    /*<-Текст->*/
    font-family: 'Calibri';
    color: white;
    font-weight: 300;
    letter-spacing: 0.08em;
    font-size: 13px;
    line-height: 18pt;
}

.headback {
    /*<-Позиционирование->*/
    position: absolute;
    left: 63px;
    top: 67px;
    z-index: 1;
}

.head {
    /*<-Позиционирование->*/
    position: absolute;
    left: 60px;
    top: 61px;
    z-index: 2;
}

.headSmart {
    /*<-Позиционирование->*/
    position: absolute;
    left: 111px;
    top: 71px;
    z-index: 3;
}

.headText {
    /*<-Позиционирование->*/
    position: absolute;
    left: 111px;
    top: 98px;
    z-index: 5;
    /*<-Текст->*/
    font-family: 'Calibri';
    color: white;
    font-weight: 100;
    font-size: 8pt;
    letter-spacing: 0.1em;

}

.headITStyle {
    /*<-Позиционирование->*/
    position: absolute;
    left: 78px;
    top: 67px;
    z-index: 4;
}

.mainMenuPhone {
    /*<-Позиционирование->*/
    position: absolute;
    left: 61px;
    top: 212px;
    z-index: 1;
}

.mainFooterMenu {
    /*<-Позиционирование->*/
    position: absolute;
    left: 58px;
    top: 138px;
    z-index: 0;
}

.mainPhonePhoto {
    /*<-Позиционирование->*/
    position: absolute;
    left: 323px;
    top: 86px;
    z-index: -1;
}

.News {
    /*<-Позиционирование->*/
    position: absolute;
    left: 360px;
    top: 350px;
    z-index: 2;
    /*<-Текст->*/
    font-family: 'Calibri';
    color: white;
    font-weight: 600;
    letter-spacing: 0.22em;
    font-size: 16px;
}

.footerNews {
    /*<-Позиционирование->*/
    position: absolute;
    left: 103px;
    top: 445px;
}

.footerNewsMainText {
    /*<-Позиционирование->*/
    position: absolute;
    left: 141px;
    top: 428px;
    z-index: 4;
    /*<-Текст->*/
    font-family: 'Calibri';
    color: white;
    font-weight: 400;
    letter-spacing: 0.15em;
    font-size: 12px;
    line-height: 9pt;

}

.footerNewsText {
    /*<-Позиционирование->*/
    position: absolute;
    left: 107px;
    top: 529px;
    z-index: 4;
    font-family: 'Calibri';
    color: black;
    font-weight: 600;
    letter-spacing: 0.13em;
    font-size: 11px;
}

.footerTextNext {
    /*<-Текст->*/
    line-height: 22pt;
    text-indent: 12px; /* Отступ первой строки в пикселах */
}


#checkblock {
    position: absolute;
    left: 65px;
    top: 227px;
    padding: 15px;
    box-shadow: 10px 10px 20px rgba(0,0,200,0.5);;
    border: 5px solid rgba(50,0,255,0.5);
    background: lightgrey;

    text-align: left;
    border-radius: 3%;
    z-index: 10;
}


.check {
    width: 15px;
    height: 15px;
}

#phone-list {
    padding: 8px;
    position: absolute;
    display: block;
    z-index: 101;
    text-align: center;
    background-color: gray;
    left: 250px;
    top: 135px;
    width: 545px;
    height: 470px;
    border: 5px solid blue;
    box-shadow: 10px 10px 20px  5px rgba(0,0,200,0.5);
    overflow-y: scroll;
    overflow-xs: hidden ;
}

#about {
    display: inline-block;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 2px;
    background-color: whitesmoke;
    width: 100px;
    height: 20px;
    margin-top: 10px;
    transition: 0.2s ease-in;
}

#about:hover {
    padding: 0 20px;
    color: white;
    background: darkblue;
}

.short-info {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Algerian;
}

#name-info {
    color: white;
    font-size: 20px;
}
#price-info {
    color: blue;
}

.mask {
    background-color: black;
    opacity: 0.5;
    position: absolute;
    width: 245px;
    height: 245px;

}



.phone-block {
    background-color: gray;
}

.animation-block {
    display: inline-block;
    width: 245px;
}


#aboutinfo {
    box-shadow: 10px 10px 20px  5px rgba(0,0,200,0.5);
    font-size: 30px;
    font-family: matura mt script capitals;
    opacity: 1;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 103;
    text-align: center;
    width: 500px;
    height: 415px;
    top: 100px;
    left: 400px;
    border: 10px solid blue;
    border-radius: 10px;
    padding-top: 20px;

}

#back-phone {
    display: none;
    position: absolute;
    z-index: 103;
    text-align: center;
    top: 0;
    width: 100%;
    height: 300%;
    background-color: black;
    opacity: 0.5;
}

#exitbut {
    background-color: red;
    color: white;
    width: 22px;
    height: 20px;
    display: none;
    position: absolute;
    z-index: 103;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 50%;
    padding-top: 2px;
    text-align: center;
    top: 115px;
    left: 880px;
}

.section {
    color: white;
    font-size: 20px;
    font-family: Algerian;
    border: 1px solid blue;
    border-radius: 2px;
    display: inline-block;
    margin: 0 20px;
    padding: 0 10px;
}

input[type=submit]{
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-color: gray;
    color: white;
    transition: 1s ease-in;
}
input[type=submit]:hover {
    background-color: darkblue;

}
